*{background-color: green;}

.Style {color: blue;background-color:red;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic;}

#Style2 {color: yellow; background-color: purple}